.flexRowContent--minicartItem {
    /* display: flex;
    justify-content: center; */
    /* max-width: 92%;
    margin-left: 1rem;
    margin-right: 1rem; */
    border: 1px solid #59ff00;
    border-radius: 4px;
    margin: 1rem auto;
    padding: 1rem 1rem 0.5rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.flexRowContent--main-header-mobile {
    background-color: #212121;
}

.flexRow--product-main {
    margin: 0 2%;
}

.flexRowContent--product-main {
    justify-content: center;
}

.flexRow--product-main .stretchChildrenWidth {
    width: max-content !important;
    max-width: 50%;
}

.flexRowContent--product-main .stretchChildrenWidth:last-child {
    width: 30% !important;
}

@media (max-width: 1000px) {
}

@media (max-width: 1000px) {
    .flexRowContent--product-main {
        flex-direction: column;
    }

    .flexRow--product-main .stretchChildrenWidth {
        padding-right: 0;
        padding-bottom: 1rem;
    }

    .flexRow--product-main .stretchChildrenWidth {
        width: fit-content !important;
        max-width: 100%;
        transition: 0.5s;
    }

    .flexRowContent--product-main .stretchChildrenWidth:last-child {
        width: 100% !important;
    }
}

.flexRowContent--buyButton .stretchChildrenWidth {
    min-width: 100%;
}
