/* Banners */

.sliderLayoutContainer {
    width: 65vw;
    margin: 10px auto 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    grid-template-areas:
        'a a'
        'b c';
    justify-items: center;
    row-gap: 0.5rem;
    background-color: #303030;
}

@media (max-width: 800px) {
    .sliderLayoutContainer {
        width: 80vw;
        transition: 0.3s;
    }
}

.sliderTrackContainer--carousel {
    grid-area: a;
}

.sliderTrack--carousel {
    width: max-content;
}

.slide--carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderLeftArrow--carousel {
    position: static;
    grid-area: b;
    justify-self: left;
}
.sliderRightArrow--carousel {
    position: static;
    grid-area: c;
    justify-self: right;
}

.caretIcon--carousel {
    width: 12px;
    height: 12px;
    padding: 0.5rem 1.5rem;
}

.sliderArrows {
    color: #ffffff;
}

.sliderArrows--carousel:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
}

.paginationDotsContainer {
    margin-bottom: 1.5rem;
    height: 0;
}
