/* Banners */

.sliderLayoutContainer {
    width: 65vw;
    margin: 10px auto 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr;
    grid-template-areas:
        'a a'
        'b c';
    justify-content: center;
    row-gap: 2rem;
    background-color: #303030;
}
.sliderTrackContainer--carousel {
    grid-area: a;
}

.sliderTrack--carousel {
    width: max-content;
}

.slide--carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderLeftArrow {
    position: static;
    grid-area: b;
    justify-self: left;
}
.sliderRightArrow {
    position: static;
    grid-area: c;
    justify-self: right;
}
