.wrapper--footerText .paragraph {
    margin: 0;
    font-size: 0.875rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 500;
}

.link--footerText {
    color: #ffffff;
    text-decoration: none;
}
