.imageNormal {
    max-height: 10rem;
}

.imageStackContainer {
    height: 10rem;
    display: flex;
    align-items: center;
}

.nameContainer {
    padding-bottom: 0;
}

.brandName,
.listPriceContainer,
.sellingPriceContainer {
    color: #ffffff;
}

.currencyContainer {
    color: #59ff00;
}
